

<div class="container">
    <blockquote>
        {{joke}}
    </blockquote>
</div>


{
  "name": "Node-Tutorial",
  "version": "1.0.0",
  "description": "Tutorial do NodeJS do RisingStack Blog (https://blog.risingstack.com/node-hero-tutorial-getting-started-with-node-js/)",
  "main": "index.js",
  "scripts": {
    "test": "mocha",
    "start": "node index.js"
  },
  "keywords": [],
  "author": "Leandro Gonçalves de Oliveira",
  "license": "MIT",
  "devDependencies": {
    "mocha": "^2.5.3"
  },
  "dependencies": {
    "express": "^4.14.0",
    "express-handlebars": "^3.0.0",
    "request-promise": "^3.0.0"
  }
}
